<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <link rel=" stylesheet " href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css ">
    <meta name="viewport " content="width=device-width, initial-scale=1, shrink-to-fit=no ">

    <style>
        .grey {
            background-color: maroon;
            padding: 20px;
        }
    </style>

</head>

<body>

    <header>
        <nav>
            <ul>
                <a href="/ ">Home </a> |
                <a href="/about ">About </a> |
                <a href="/shop ">Shop </a> |
                <a href="/contact ">Contact <a>
            </ul>
        </nav>
    </header>

    <h1>Skyline Marketing</h1>

    <div class="grey">
    <div class="container">
        <div class="well">This is my first Container</div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="well">First Column</div>
        </div>
            <div class="col-lg-2">
                <div class="well">second Column</div>
    </div>
    <div class="col-lg-2">
            <div class="well">First Column</div>
</div>
<div class="col-lg-2">
        <div class="well">second Column</div>
    </div>
</div>
</div>

    <footer>
            <div class="container">
                <hr>
                <p>
                 <small><a href="https://www.facebook.com/Skyline-Marketing-209824199451/">Like us<a/> On facebook</small></p>
                       

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js " charset="utf-8 "></script>
    <script type="text/javascript " src:https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.css "charset="utf-8 "></script>



    </body>

</html>